body {
    font-family: 'Segoe UI', sans-serif;
    background: #fff8dc;
    text-align: center;
    padding: 30px;
    background-image: url(imagens/pexels-designecologist-1287124.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    background-attachment: fixed;
  }
  
  .container {
    max-width: 600px;
    margin: 0 auto;
  }
  
  h1 {
    color: rgb(231, 173, 39);
    font-size: 2.5em;
  }

  div > p {
    color: #f7f2ef;
   background-color: rgba(0, 0, 0, 0.199);

  }
  
  .carousel {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 20px 0;
  }
  
  .carousel img {
    width: 160px;
    height: 190px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  }
  
  .carousel button {
    font-size: 8em;
    background: none;
    border: none;
    color: #000000;
    cursor: pointer;
    padding: 0 10px;
  }

  .petals-container {
    position: fixed;
    top: 0;
    left: 0;
    pointer-events: none;
    width: 100%;
    height: 100%;
    overflow: hidden;
    z-index: 1;
  }
  
  .petal {
    position: absolute;
    width: 30px;
    height: 30px;
    background-image: url('imagens/gira.jpg'); /* use uma imagem PNG da pétala */
    background-size: contain;
    background-repeat: no-repeat;
    animation: fall linear infinite;
    opacity: 0.8;

  }
  
  @keyframes fall {
    0% {
      transform: translateY(-50px) rotate(0deg);
      opacity: 1;
    }
    100% {
      transform: translateY(100vh) rotate(360deg);
      opacity: 0;
    }
  }
  
  

  